<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Expenditure Report</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1 class="my-4">Expenditure Report</h1>

        <ul class="list-group">
            {% for expenditure in expenditures %}
            <li class="list-group-item">
                <strong>{{ expenditure.description }}</strong> - UGX {{ expenditure.amount }}
                <br><small>Added on: {{ expenditure.date }}</small>
            </li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>
